.highlight {
  color: red;
  font-weight: bold;
}
.classMainCont .classMain .contentVideo {
  display: flex;
  height: 100% !important;
}

.classMainCont .classMain .contentVideo .iframeFullCont {
  border: none;
  width: 80% !important;
  height: 100% !important;
}

.classMainCont .classMain .contentVideo .videoTranscription {
  border: 1px solid #b3b3b3;
  background: #fff;
  width: 20% !important;
  position: relative;
  right: 10%;
  margin: 10px 0px;
  padding: 30px 15px;
  border-radius: 8px;
  overflow-y: auto;
}

.classMainCont
  .classMain
  .contentVideo
  .videoTranscription
  .headerCardTranscription {
  font-weight: 700;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 25px;
  display: flex;
}

.classMainCont
  .classMain
  .contentVideo
  .videoTranscription
  .headerCardTranscription
  .textTitle {
  width: 64%;
}

.classMainCont
  .classMain
  .contentVideo
  .videoTranscription
  .headerCardTranscription
  .icon {
  width: 12%;
  position: relative;
  bottom: 10px;
  cursor: pointer;
}

.classMainCont
  .classMain
  .contentVideo
  .videoTranscription
  .headerCardTranscription
  .icon
  svg {
  cursor: pointer !important;
}

.classMainCont .classMain .contentVideo .videoTranscription .textTranscription {
  color: #000;
  font-size: 16px;
}
.classMainCont
  .classMain
  .contentVideo
  .videoTranscription
  .textTranscription:first-letter {
  text-transform: capitalize;
}
