/* Passar os font's size para REM e não esquecer novamente */


:root {
    --tratme-area-color-light-CM: #70C9FA;
    --tratme-area-color-light-CX: #FF965F;
    --tratme-area-color-light-GO: #FF81E3;
    --tratme-area-color-light-Ped: #C2A5FD;
    --tratme-area-color-light-Prev: #7AE3E4;
    --tratme-area-color-light-PR: #455eda;
    --tratme-area-color-text-CM: #00146D;
    --tratme-area-color-text-CX: #4C0800;
    --tratme-area-color-text-GO: #3A001E;
    --tratme-area-color-text-Ped: #21005A;
    --tratme-area-color-text-Prev: #003036;
    --tratme-area-color-dark-CM: #1EA8F4;
    --tratme-area-color-dark-CX: #FF6440;
    --tratme-area-color-dark-GO: #FF43D5;
    --tratme-area-color-dark-Ped: #A87DFF;
    --tratme-area-color-dark-Prev: #16C6C7
}

li {
    list-style: none;
}

.ilTooltip {
    visibility: hidden;
}

.feedbackHeader {
    background: #f9fafb;
    border-radius: 5px 5px 0 0;
    margin-bottom: -5px;
    padding: 58px 0;
    text-align: left;
}

button.ulIcon-AttentionCircle {
    padding: 10px 14px;
    opacity: 1;
    right: 4%;
    z-index: 0;
}

    button.ulIcon-AttentionCircle:hover {
        opacity: 0;
    }

.bttnhover {
    position: absolute;
    top: 8px;
    right: 16px;
    opacity: 0;
    z-index: 1;
}

    .bttnhover:hover {
        opacity: 1;
    }

.question-analise {
    background-color: var(--color-alpha-10);
    border-radius: 500px;
    gap: 8px;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
}

.text-question-analise {
    font-family: "Roboto";
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-text-dark);
    letter-spacing: 0.003em;
    box-sizing: unset !important;
}

.actCardNav .active span {
    color: white !important;
}

.actCardNav li {
    line-height: unset;
}

    .actCardNav li.active {
        box-shadow: none;
    }

.actCardNav .ulIcon {
    margin-right: 4px;
}

.actCardNav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 8px 0;
}

.actCardNav span:not(.ulIcon) {
    font-weight: bold;
}

.actCardNav .correct a {
    color: var(--color-success-base);
}

.actCardNav .incorrect a {
    color: var(--color-critical-base);
}

.actCardNav .discarded a {
    color: var(--color-disabled-base);
}

.actCardNav .notAnswered a {
    color: var(--color-warning-dark);
}

.actCardNav .annulled a {
    color: var(--color-disabled-base);
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.myGrade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.feedbackContainer {
    padding: 14px 18px;
}

.gradeMeterContainer {
    margin-bottom: 58px;
}

.gradeMeter {
    flex: 50%;
    height: 24px;
    border-radius: 50px;
    margin-right: 20px;
}

.exGreenBarCor {
    border-radius: 100px 100px;
}

    .exGreenBarCor p {
        color: var(--color-secondary-base);
        font-size: 14px;
        padding-top: 3px;
        text-align: right;
        font-size: 14px;
        margin-right: 24px;
    }

.testGradeBar {
    box-sizing: content-box;
    position: absolute;
    border-width: 2px;
    width: 100%;
    height: 20px;
    border-right: solid 2px;
    border-color: black;
    padding-top: 10px;
    bottom: 0px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

    .testGradeBar p {
        font-weight: bold;
        position: absolute;
        bottom: 30px;
        right: -18px;
    }

.classGradeBar {
    box-sizing: content-box;
    position: absolute;
    border-width: 2px;
    width: 100%;
    height: 20px;
    border-right: solid 2px;
    border-color: black;
    padding-top: 10px;
    bottom: -6px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

    .classGradeBar p {
        font-weight: bold;
        position: absolute;
        top: 30px;
        right: -78px;
    }


/*ESTILOS DO TRATME - MOVER*/
/*VARIÁVEIS DE CORES*/
.classMenuOrganizer {
    display: flex;
    flex-direction: column;
}

.classSideMenu .activity-list-tratme .cClasses .toggleClassUnitButton .ulIcon{
    margin-bottom: auto;
    margin-top: 9px;
}

.classSideMenu .activity-list-tratme .cClasses .toggleClassUnitButton .unityText {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.003em;
    margin-top: 8px;
}

.classSideMenu .activity-list-tratme .cClasses .toggleClassUnitButton {
    min-height: unset;
}

.classSideMenu .activity-list-tratme .cClasses > li {
    min-height: unset;
}

.topic-tratme {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.003em;
    color: #70C9FA;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    width: auto;
    height: 26px;
    white-space: nowrap;
    border: 2px solid #70C9FA;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    margin-bottom: 8px;
    margin-top: 2px;
    margin-right: auto;
    text-transform: capitalize;
}

.topic-tratme.CM {
    border-color: var(--tratme-area-color-light-CM);
    color: var(--tratme-area-color-text-CM);
    text-decoration: none;
}

.topic-tratme.CX {
    border-color: var(--tratme-area-color-light-CX);
    color: var(--tratme-area-color-text-CX);
    text-decoration: none;
}

.topic-tratme.GO {
    border-color: var(--tratme-area-color-light-GO);
    color: var(--tratme-area-color-text-GO);
    text-decoration: none;
}

.topic-tratme.Ped {
    border-color: var(--tratme-area-color-light-Ped);
    color: var(--tratme-area-color-text-Ped);
    text-decoration: none;
}

.topic-tratme.Prev {
    border-color: var(--tratme-area-color-light-Prev);
    color: var(--tratme-area-color-text-Prev);
    text-decoration: none;
}

.topic-tratme.PR {
    border-color: var(--tratme-area-color-light-PR);
    color: var(--tratme-area-color-PR);
    text-decoration: none;
}
/* FIM ESTILOS DO TRATME*/

.leftColumn {
    flex: 70%;
    margin-right: 38px;
}

.rightColumn {
    flex: 30%;
    display: flex;
    flex-direction: column;
}

    .rightColumn li {
        margin-bottom: 24px;
    }

    .rightColumn .card {
        float: unset;
    }

.columnCount {
    column-count: 2;
    column-gap: 8px;
}

.studentTemplate {
    display: contents;
}

    .studentTemplate li {
        display: inline-block;
        width: 100%;
    }

.studentTemplateCard {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: var(--color-alpha-05);
    box-sizing: border-box;
    margin: 5px 4px 1px;
    border-radius: 5px;
    color: var(--color-text-dark);
    align-items: center;
    cursor: pointer;
}

    .studentTemplateCard .ulIcon {
        margin-right: 4px;
    }

    .studentTemplateCard p.fBold {
        font-size: 16px;
    }

    .studentTemplateCard p:last-child {
        text-align: right;
        flex-grow: 10;
    }

.templateBar {
    height: 16px;
}

.extCard {
    box-shadow: unset !important;
}

    .extCard .extCardDetail {
        background-color: unset !important;
        font-size: 14px !important;
        padding: 0px !important;
    }

.ulIcon-CheckCircle {
    color: var(--color-success-base);
}

.ulIcon-CloseCircle {
    color: var(--color-critical-base);
}

.ulIcon-Danger {
    color: var(--color-warning-dark);
}

.studentTemplateCorrect {
    background-color: rgba(6, 122, 116, 0.15);
}

.studentTemplateIncorrect {
    background-color: rgba(201, 63, 88, 0.15);
}

.tratme-clear-search {
    position: absolute;
    right: 0px;
    z-index: 10;
    top: 10px;
}

/*media query*/
/* 768-480 - tablet*/
@media all and (min-width: 480px) and (max-width: 768px) {
    .ilTooltip {
        visibility: visible;
    }

    .myGrade {
        flex-direction: column;
    }

        .myGrade h2 {
            margin-bottom: 18px;
        }

    .actCardNav .ulIcon {
        visibility: hidden;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
    }

    .columnCount {
        column-count: 1;
    }

    .leftColumn {
        margin-bottom: 20px;
    }

    .feedbackContainer {
        padding: 18px 13px;
    }
}
/*480-less    - phone landscape & smaller*/
@media all and (max-width: 480px) {
    .ilTooltip {
        visibility: visible;
    }

    .myGrade {
        flex-direction: column;
    }

        .myGrade h2 {
            margin-bottom: 18px;
        }

    .actCardNav .ulIcon {
        visibility: hidden;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
    }

    .leftColumn {
        margin-bottom: 20px;
    }

    .columnCount {
        column-count: 1;
    }
}

/*# sourceMappingURL=feedback-A2.css.map */

/*# New version */
.color-btn-span {
    font-size: 12px !important;
    border-color: #F48F22 !important;
    background: #F48F22 !important;
    font-size: 12px;
    border-radius: 15px;
    height: 25px;
    width: 46px;
    color: white;
    line-height: 25px;
    font-weight: bold;
    color: #FFF;
}

.specialty-result {
    display: flex;
    flex: 70%;
}

.media-result {
    display: flex;
    flex: 45%;
    justify-content: flex-start;
}

.colorHeader {
    background: #6fbb3d !important;
    border: 2px solid #6fbb3d !important;
}

.colorheader {
    background: #6fbb3d !important;
}

.container-lis-card {
    width: 84%;
}

.card-all {
    max-height: 300px;
    flex: 50%;
    padding: 10px;
    max-width: 50%;
    margin-bottom: 30px;
}

.container-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1064px;
    align-items: start;
}

.container-all-result {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 900px;
}

.container-all-card {
    display: flex;
    flex-direction: column;
    flex: 33%;
    justify-content: center;
    padding: 10px;
    min-width: 400px;
}

.container-specialty {
    width: 100%;
    background: #F2F2F2;
}

.container-ul {
    display: flex;
    justify-content: unset;
    width: 100%;
}

.container-li {
    width: 50%;
}

.full_table_list {
    width: 100%;
}

    .full_table_list ul:nth-child(even) {
        background: #EEE
    }

    .full_table_list ul:nth-child(odd) {
        background: #FFF
    }

    .full_table_list ul:first-child {
        background: #EEE
    }

.list-ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    border: none;
    margin-left: 10
}

.container-span {
    margin-top: 0 !important;
    margin-block-start: auto;
}

.list-li-left {
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #939292;
    display: flex;
    flex: 30%;
}

.list-li-right {
    font-weight: 500;
    font-size: 14px;
    color: #939292;
}

.list-li-right-all {
    margin-left: 20px;
    font-size: 12px;
    color: #a4a2a2;
    display: flex;
    width: 57%;
    text-align: left;
}

span#spect-name {
    font-size: 12px;
    color: #a4a2a2;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px !important;
    text-transform: capitalize;
}

.container-card-all {
    border-style: groove;
    border-color: #fffbfb2b;
}

.container-btn {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    border-radius: 40px;
    line-height: 28px;
}

.container-result {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #EEE;
}

.container-hits {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container-hits-all {
    border-style: groove;
    border-color: #fffbfb2b;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.card-answer-all {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-answer {
    display: flex;
    flex: 30%;
    margin-left: 30px;
    align-items: center;
    justify-content: flex-start;
}

.card-answer-p {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 10px;
}

.icon-incorret {
    margin-right: 10px;
}

.questionCombinedCont .studentSpResumeBox span {
    margin-top: 0px;
}

.question-p {
    color: rgb(61, 61, 245) !important;
    padding: 0 !important;
    width: 10px;
}

.question-span {
    color: #808080 !important;
    padding: 0 !important;
    margin-left: 0px !important;
}

.display-all {
    display: flex;
    justify-content: center;
}

@media (min-width: 501px) {
    .topic-tratme.CM:hover {
        background-color: var(--tratme-area-color-dark-CM);
        border-color: var(--tratme-area-color-dark-CM);
        text-decoration: none;
    }

    .topic-tratme.CX:hover {
        background-color: var(--tratme-area-color-dark-CX);
        border-color: var(--tratme-area-color-dark-CX);
        text-decoration: none;
    }

    .topic-tratme.GO:hover {
        background-color: var(--tratme-area-color-dark-GO);
        border-color: var(--tratme-area-color-dark-GO);
        text-decoration: none;
    }

    .topic-tratme.Ped:hover {
        background-color: var(--tratme-area-color-dark-Ped);
        border-color: var(--tratme-area-color-dark-Ped);
        text-decoration: none;
    }

    .topic-tratme.Prev:hover {
        background-color: var(--tratme-area-color-dark-Prev);
        border-color: var(--tratme-area-color-dark-Prev);
        text-decoration: none;
    }

    .topic-tratme.PR:hover {
        background-color: var(--tratme-area-color-PR);
        border-color: var(--tratme-area-color-PR);
        text-decoration: none;
    }
}


@media (max-width:1080px) {
    .card-all {
        max-height: 300px;
        max-width: 380px;
        width: 100%;
        padding: 10px;
    }

    .container-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 614px;
        align-items: center;
    }

    .container-all-result {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .container-all-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container-list-card {
        width: 100%;
    }

    .list-li-right-all {
        margin-left: 20px;
        margin-right: 44px;
        font-size: 12px;
        color: #a4a2a2;
        display: flex;
        width: 51%;
    }
}

@media (max-width:600px) {
    .container-all-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        min-width: 100%;
    }

    .card-all {
        max-height: 300px;
        max-width: 500px;
        width: 100%;
        padding: 10px;
    }

    .container-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        align-items: center;
        max-width: 100%;
        padding: 15px;
    }

    .container-list-card {
        width: 100%;
    }

    .container-all-result {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: inherit;
    }

    .list-li-right-all {
        margin-left: 20px;
        margin-right: 44px;
        font-size: 12px;
        color: #a4a2a2;
        display: flex;
        width: 47%;
    }
}

@media (max-width: 501px) {

    .topic-tratme.CM:active {
        background-color: var(--tratme-area-color-dark-CM);
        border-color: var(--tratme-area-color-dark-CM);
        text-decoration: none;
    }

    .topic-tratme.CX:active {
        background-color: var(--tratme-area-color-dark-CX);
        border-color: var(--tratme-area-color-dark-CX);
        text-decoration: none;
    }

    .topic-tratme.GO:active {
        background-color: var(--tratme-area-color-dark-GO);
        border-color: var(--tratme-area-color-dark-GO);
        text-decoration: none;
    }

    .topic-tratme.Ped:active {
        background-color: var(--tratme-area-color-dark-Ped);
        border-color: var(--tratme-area-color-dark-Ped);
        text-decoration: none;
    }

    .topic-tratme.Prev:active {
        background-color: var(--tratme-area-color-dark-Prev);
        border-color: var(--tratme-area-color-dark-Prev);
        text-decoration: none;
    }

    .topic-tratme.PR:active {
        background-color: var(--tratme-area-color-PR);
        border-color: var(--tratme-area-color-PR);
        text-decoration: none;
    }
}

@media (max-width:360px) {
    .container-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        padding: 15px;
    }

    .container-all-result {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: end;
        align-items: center;
    }

    .spContainer-all {
        display: flex;
        justify-content: center;
        width: 95% !important;
        align-items: center;
    }

    .container-all-card {
        display: flex;
        width: 100%;
        justify-content: center;
        min-width: 100%;
    }

    .container-list-card {
        width: 100%;
    }

    .questionCombinedCont .spFinalFeedbackContainer .spContainer {
        width: 100% !important;
    }

    .container-span {
        margin-top: 0 !important;
        margin-block-start: auto;
    }

    .specialty-result {
        display: flex;
        flex: 65%;
    }

    .list-li-right-all {
        margin-left: 20px;
        margin-right: 44px;
        font-size: 12px;
        color: #a4a2a2;
        display: flex;
        width: 37%;
    }
}
