﻿.socialDialogRST {
    position: fixed;
    background: rgba(20, 20, 20, 0.6);
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000001;
    display: block;
    opacity: 1;
    visibility: visible;
    transition: height 0s linear 0s, opacity 0.3s linear;
}

    .socialDialogRST.hide, .socialDialogRST.ng-hide {
        opacity: 0;
        height: 0;
        overflow: hidden;
        display: block !important;
        transition: height 0s linear 0.3s, opacity 0.3s linear;
    }

    .socialDialogRST .sdBoxRST {
        background: white;
        width: 480px !important;
        height: 400px !important;
        margin: 14px auto;
        position: relative;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

        .socialDialogRST .sdBoxRST.dlgNoFrameRST.dlgAutoHeightRST .iframeDialogRST {
            padding: 0 20px;
            max-height: 100%;
            overflow-y: auto;
        }

    .socialDialogRST .sdContentRST {
        padding: 24px;
        position: relative;
        width: 480px;
        display: inline-table;
        margin-bottom: 0;
        line-height: inherit;
        overflow-x: visible;
        border-radius: 5px;
        flex-shrink: 2;
    }

        .socialDialogRST .sdContentRST .overY {
            padding: 20px !important;
            width: 100% !important;
        }

    .socialDialogRST .iframeDialogRST {
        border: none;
        background: transparent;
        width: 100% !important;
        overflow-x: hidden;
        height: 100%;
    }

        .socialDialogRST .iframeDialogRST#welcomeDialogIFrame {
            border-radius: 5px;
        }

    .socialDialogRST .sdTopRST {
        display: inline-table;
        height: var(--spacing-extra);
        line-height: var(--spacing-extra);
        max-height: var(--spacing-extra);
        width: 100%;
        color: white !important;
        border-radius: 5px 5px 0 0;
        box-sizing: border-box;
        flex-shrink: 1;
        flex-grow: 1;
        background: var(--color-success-base) !important;
    }

        .socialDialogRST .sdTopRST p {
            width: calc(100% - 15px);
            overflow: hidden;
            box-sizing: border-box;
            text-overflow: ellipsis;
            color: white !important;
            font-size: 1.15rem !important;
            padding-left: 20px !important;
        }

        .socialDialogRST .sdTopRST .black {
            color: white !important;
            font-size: 1.15rem !important;
        }

        .socialDialogRST .sdTopRST .lblSubTitle {
            font-size: 0.8rem;
            color: rgba(255, 255, 255, 0.4);
        }

            .socialDialogRST .sdTopRST .lblSubTitle:before {
                content: "-";
                padding: 0 3px 0 5px;
            }

            .socialDialogRST .sdTopRST .lblSubTitle:empty:before {
                content: none;
            }

        .socialDialogRST .sdTopRST .lblTitle:empty ~ .lblSubTitle {
            display: none;
        }

    .socialDialogRST .sdCloseRST {
        position: absolute;
        width: var(--spacing-large);
        height: var(--spacing-large);
        border-radius: 5px;
        background: none;
        z-index: 12;
        top: var(--spacing-micro);
        right: 12px;
        text-decoration: none;
        opacity: 1;
        transition: all 0.1s linear;
        text-align: center;
        line-height: var(--spacing-large);
        font-size: 0;
    }

        .socialDialogRST .sdCloseRST:before {
            content: "X";
            color: white;
            font-size: 16px;
        }

        .socialDialogRST .sdCloseRST:hover {
            opacity: 1;
            background: var(--color-primary-base);
        }

    .socialDialogRST .sdBotRST {
        height: 20px;
        padding: 5px 7px;
        background: #ebebeb;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0 0 5px 5px;
        z-index: 10;
        flex-shrink: 0;
        flex-grow: 0;
        box-sizing: border-box;
        line-height: 1.5;
    }

        .socialDialogRST .sdBotRST .sdBotRST {
            display: contents;
            padding: 0;
        }

        .socialDialogRST .sdBotRST > * {
            vertical-align: middle;
        }

        .socialDialogRST .sdBotRST .iconButton {
            margin-top: 0 !important;
        }

/*Corrigindo Ellipsis no titulo topo da dialog*/
#divTitleBar p.fb {
    max-width: calc(100% - 40px);
    font-size: 0.9em !important;
    color: rgba(255, 255, 255, 0.4);
}

/* Corrigindo espaçamento nas Welcome Dialogs */
div#divWelcomeDialog {
    padding: 0 24px !important;
}

/* Dialog que ocupa a largura e altura inteira do browser */
.sdBoxRST.dlgFullRST {
    width: 98%;
}

    .sdBoxRST.dlgFullRST .sdContentRST {
        width: 100%;
        height: 95%;
    }

        .sdBoxRST.dlgFullRST .sdContentRST object {
            margin: auto;
        }

/* Full Dialog (Dialog) para Objetos interativos HTML e Links de Disciplinas (com transição de baixo pra cima) */
.socialDialogRST.ObjDialogRST .sdBoxRST,
.fullDialogRST .sdBoxRST {
    width: 84%;
    height: 90%;
    margin: 0;
    left: 9%;
    top: 5%;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1080px) {
    .socialDialogRST.ObjDialogRST .sdBoxRST,
    .fullDialogRST .sdBoxRST {
        top: 3%;
        height: 94%;
        left: 6%;
        width: 88%;
    }
}

@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
    .socialDialogRST.ObjDialogRST .sdBoxRST,
    .fullDialogRST .sdBoxRST {
        left: 0;
        width: 100%;
    }
}

.socialDialogRST.ObjDialogRST.hide .sdBoxRST, .socialDialogRST.ObjDialogRST.ng-hide .sdBoxRST,
.fullDialogRST.hide .sdBoxRST,
.fullDialogRST.ng-hide .sdBoxRST {
    top: 100%;
}

.socialDialogRST.ObjDialogRST .sdContentRST,
.fullDialogRST .sdContentRST {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    overflow-y: auto;
    border-radius: 0;
}

.socialDialogRST.ObjDialogRST .iframeDialogRST,
.fullDialogRST .iframeDialogRST {
    max-height: 100%;
}

.socialDialogRST.ObjDialogRST .overY,
.fullDialogRST .overY {
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    box-sizing: border-box;
}

.socialDialogRST.cardLinkDisDialog .iframeDialogRST,
.fullDialogRST .fullDlgContRST {
    max-height: none;
    max-width: 70%;
    margin: 32px auto 96px;
    float: none;
    display: flex;
}

@media screen and (max-width: 1080px) {
    .socialDialogRST.cardLinkDisDialog .iframeDialogRST,
    .fullDialogRST .fullDlgContRST {
        max-width: 80%;
    }
}

@media screen and (max-width: 790px) {
    .socialDialogRST.cardLinkDisDialog .iframeDialogRST,
    .fullDialogRST .fullDlgContRST {
        max-width: 90%;
    }
}

.socialDialogRST.cardLinkDisDialog .iframeDialogRST.contFullRST,
.fullDialogRST .fullDlgContRST.contFullRST {
    margin: 0;
    max-width: none !important;
    height: 100%;
    overflow: hidden;
}

.fullDialogRST .fullDlgContRST {
    display: block;
}

    .fullDialogRST .fullDlgContRST:after {
        content: " ";
        display: block;
        height: 1px;
        width: 100%;
        clear: both;
    }

/* Full Dialog sem sdContentRST - Usada para visualização de Objetos de Aprendizagem em FullScreen (Vídeo) */
.socialDialogRST.dlgNoContRST {
    display: flex;
    align-items: center;
}

    .socialDialogRST.dlgNoContRST .sdBoxRST {
        background: none;
        box-shadow: none;
        height: auto;
        width: calc(100% - 112px);
    }

@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
    .socialDialogRST.dlgNoContRST .sdBoxRST {
        width: 100%;
    }
}

.socialDialogRST.dlgNoContRST .sdBoxRST .sdContentFrameRST {
    height: 96vh;
    border-radius: 5px;
}

    .socialDialogRST.dlgNoContRST .sdBoxRST .sdContentFrameRST iframe {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 5px;
    }

.socialDialogRST.dlgNoContRST .sdBoxRST > img {
    max-width: 100%;
    max-height: 90vh;
    display: block;
    margin: 0 auto;
}

.socialDialogRST.dlgNoContRST a.sdCloseRST {
    background: var(--main-color);
    opacity: 1;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    border: 2px solid white;
    top: 10px;
    right: 10px;
    position: fixed;
    transition: all 0.3s ease-out 0s;
}

.socialDialogRST.dlgNoContRST.ng-hide a.sdCloseRST {
    top: -32px;
    opacity: 1;
}

.socialDialogRST .dlgMediumRST,
.socialDialogRST .dlgMedRST {
    max-height: calc(100% - 28px);
    height: 640px;
    overflow: visible;
    max-width: 760px;
    width: 760px;
    margin-top: -320px;
    top: 50%;
    transition: all 0.3s ease-out 0s;
}

@media screen and (max-height: 625px) {
    .socialDialogRST .dlgMediumRST,
    .socialDialogRST .dlgMedRST {
        height: calc(100% - 30px);
        margin: 15px auto;
        top: 0;
    }
}

@media screen and (max-width: 1080px) {
    .socialDialogRST .dlgMediumRST,
    .socialDialogRST .dlgMedRST {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
    .socialDialogRST .dlgMediumRST,
    .socialDialogRST .dlgMedRST {
        width: 100%;
        height: 95%;
        max-height: none;
        margin: 0;
        left: 0;
        top: 5%;
        margin-top: 0;
    }
}

.socialDialogRST .dlgMediumRST .sdContentRST,
.socialDialogRST .dlgMediumRST .iframeDialogRST,
.socialDialogRST .dlgMedRST .sdContentRST,
.socialDialogRST .dlgMedRST .iframeDialogRST {
    height: 590px;
    max-height: calc(100% - 85px);
    max-width: 760px;
}

@media screen and (max-height: 625px) {
    .socialDialogRST .dlgMediumRST .sdContentRST,
    .socialDialogRST .dlgMediumRST .iframeDialogRST,
    .socialDialogRST .dlgMedRST .sdContentRST,
    .socialDialogRST .dlgMedRST .iframeDialogRST {
        height: calc(100% - 70px);
        max-height: none;
    }
}

@media screen and (max-width: 1080px) {
    .socialDialogRST .dlgMediumRST .sdContentRST,
    .socialDialogRST .dlgMediumRST .iframeDialogRST,
    .socialDialogRST .dlgMedRST .sdContentRST,
    .socialDialogRST .dlgMedRST .iframeDialogRST {
        width: 100%;
        max-width: none;
        overflow: auto;
    }
}

@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
    .socialDialogRST .dlgMediumRST .sdContentRST,
    .socialDialogRST .dlgMediumRST .iframeDialogRST,
    .socialDialogRST .dlgMedRST .sdContentRST,
    .socialDialogRST .dlgMedRST .iframeDialogRST {
        height: auto;
        max-height: none;
        flex-grow: 4;
    }
}

.socialDialogRST .dlgMediumRST .overY,
.socialDialogRST .dlgMedRST .overY {
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

.socialDialogRST .dlgMediumRST .select_users_result,
.socialDialogRST .dlgMediumRST .selItensCont,
.socialDialogRST .dlgMedRST .select_users_result,
.socialDialogRST .dlgMedRST .selItensCont {
    border-radius: 5px;
}

@media screen and (max-height: 625px) {
    .socialDialogRST .dlgMediumRST .select_users_result,
    .socialDialogRST .dlgMediumRST .selItensCont,
    .socialDialogRST .dlgMedRST .select_users_result,
    .socialDialogRST .dlgMedRST .selItensCont {
        width: calc(100% - 20px);
        height: calc(100% - 90px);
    }
}

@media screen and (max-width: 1080px) {
    .socialDialogRST .dlgMediumRST .select_users_result,
    .socialDialogRST .dlgMediumRST .selItensCont,
    .socialDialogRST .dlgMedRST .select_users_result,
    .socialDialogRST .dlgMedRST .selItensCont {
        width: calc(100% - 20px);
    }
}

.socialDialogRST .dlgMediumRST .select_users_result .selItem,
.socialDialogRST .dlgMediumRST .selItensCont .selItem,
.socialDialogRST .dlgMedRST .select_users_result .selItem,
.socialDialogRST .dlgMedRST .selItensCont .selItem {
    width: 47%;
}

    .socialDialogRST .dlgMediumRST .select_users_result .selItem.fw,
    .socialDialogRST .dlgMediumRST .selItensCont .selItem.fw,
    .socialDialogRST .dlgMedRST .select_users_result .selItem.fw,
    .socialDialogRST .dlgMedRST .selItensCont .selItem.fw {
        width: 97%;
    }

@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
    .socialDialogRST .dlgMediumRST .sdBotRST,
    .socialDialogRST .dlgMedRST .sdBotRST {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.hide .dlgMedRST,
.ng-hide .dlgMedRST {
    top: 100%;
}

.socialDialogRST .dlgMediumRST .sdBotRST {
    height: 5px !important;
    padding: 0;
}

.dlgMediumRST .noTabs {
    height: 375px;
    margin-top: 10px;
}

.socialDialogRST.fullDialogRST .overY .iframeDialogRST {
    overflow-x: auto;
    overflow-y: auto;
}

/*Bug Dialogs antigas com iframe*/
.socialDialogRST .dlgMediumRST .sdContentRST .iframeDialogRST {
    position: relative;
    z-index: 11;
}

/* Dialog Média padrão */
.socialDialogRST .dlgMedRST .select_users_result {
    height: 455px;
}

/* Dialog sem iFrame */
my-transclude {
    display: contents;
}

.dlgNoFrameRST .sdContentRST > .sdBotRST {
    box-shadow: 0 0;
    border-radius: 0;
    padding: 8px 0;
    margin-bottom: 0;
    height: 20px !important;
}

.dlgNoFrameRST .dlgMediumRST {
    margin: 0;
}

.socialDialogRST .dlgNoFrameRST .sdContentRST {
    padding-bottom: 20px;
}

.socialDialogRST .dlgNoFrameRST .sdBotRST {
    float: left;
    height: auto;
    padding: var(--spacing-medium) 20px;
    background: unset;
}

/* Dialog com altura fixa pequena */
.socialDialogRST .dlgSmallRST {
    height: auto;
    width: 510px;
    max-width: 96%;
    top: 50%;
    margin-top: -160px;
}

    .socialDialogRST .dlgSmallRST .sdContentRST {
        width: 100%;
        height: auto;
        min-height: 30px;
        padding: 20px 30px !important;
        margin-bottom: 0;
        box-sizing: border-box;
    }

        .socialDialogRST .dlgSmallRST .sdContentRST:after {
            content: ".";
            clear: both;
            color: transparent;
            width: 100%;
            display: inline-block;
        }

        .socialDialogRST .dlgSmallRST .sdContentRST .overY {
            max-height: 300px;
            margin: -20px 0 -38px -30px;
            width: calc(100% + 60px);
        }

/* Dialog sem Footer */
.socialDialogRST .sdBoxRST.dlgFullNoFooterRST .sdContentRST {
    height: calc(100% - 35px) !important;
}

/* Dialog do SISCON - Criar Cursos e Editar campos */
.socialDialogRST .dlgSmallRST .sdContentRST table.contFullRST {
    width: 509px;
    margin: -17px 0 -30px -29px;
    float: none;
}

    .socialDialogRST .dlgSmallRST .sdContentRST table.contFullRST td {
        padding-top: 10px;
        padding-bottom: 10px;
    }

/* Dialogs com tamanhos específicos */
.dlgEmailChange {
    height: 160px;
}

/* Tabela dentro de uma dialog (Criação de usuário, Configurações do Feed) */
.dlgSmallRST .sdContentRST .ltUserInfo {
    margin: -20px -20px -30px;
    width: 111%;
    border: none;
    float: none;
}

.sdContentRST .ltUserInfo .ltTable tr td {
    border-color: #efefef;
}

    .sdContentRST .ltUserInfo .ltTable tr td:first-child {
        width: 25%;
    }

/* Deixando essas configurações apenas para quando não houver a div overY */
.sdContentRST .overY .ltUserInfo {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}

    .sdContentRST .overY .ltUserInfo .ltTable tr td {
        border-color: #e0e0e0;
    }

/* Tabela que deve se comportar normalmente */
.sdContentRST .ltUserInfo.ltInfoFlowLayout {
    margin: 20px 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    float: left;
}

/* Ocultando QR Code */
.ltUserInfo .ltUserInfoQRCode {
    display: none;
}

/* Dialog de Logout automático por tempo */
#logoutWarningDialog .sdBoxRST,
#logoutWarningDialog .sdBoxRST .sdContentRST {
    height: auto !important;
    width: 510px !important;
    max-width: 96%;
}

/* Dialog com altura calculada automaticamente em todo o site (PADRAO) */
.sdBoxRST.dlgAutoHeightRST {
    height: 96%;
    height: -webkit-calc(100% - 28px);
    height: -moz-calc(100% - 28px);
    height: calc(100% - 28px);
}

@media screen and (max-width: 1080px) {
    .sdBoxRST.dlgAutoHeightRST {
        width: calc(100% - 20px);
    }
}

.dlgAutoHeightRST .sdContentRST,
.sdBoxRST.dlgFullRST .sdContentRST {
    height: 90% !important;
    height: -webkit-calc(100% - 68px) !important;
    height: -moz-calc(100% - 68px) !important;
    height: calc(100% - 85px) !important;
}

@media screen and (max-width: 1080px) {
    .dlgAutoHeightRST .sdContentRST,
    .sdBoxRST.dlgFullRST .sdContentRST {
        width: 100%;
        overflow: unset;
    }
}

.socialDialogRST .dlgAutoHeightRST .sdContentRST .overY,
.sdBoxRST.dlgFullRST .sdContentRST .overY {
    height: 100%;
    box-sizing: border-box;
}

.dlgAutoHeightRST .select_users_result,
.dlgFullRST .select_users_result {
    width: calc(100% - 23px);
    width: -moz-calc(100% - 23px);
    height: 87%;
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: calc(100% - 90px);
}

    .dlgAutoHeightRST .select_users_result .selItem {
        width: calc(50% - 10px);
    }

/* Dialog que abre dentro do contexto - usada em seleção de conteúdo Matriz */
.dlgAutoHeightRST .dlgMedRST .select_users_result .card.fw.selItem,
.dlgAutoHeightRST .dlgSmallRST .select_users_result .card.fw.selItem {
    width: 100%;
}

.socialDialogRST .sdBoxRST.dlgChatGroup .sdContentRST {
    overflow: hidden;
}

.socialDialogRST .sdBoxRST.dlgChatGroup .iframeDialogRST {
    height: 103%;
    margin-top: 2px;
    height: -moz-calc(100% + 30px);
    height: -webkit-calc(100% + 30px);
    height: calc(100% + 30px);
}

/* Dialog sem FOOTER */
.socialDialogRST .dlgNoFooterRST .sdContentRST {
    height: calc(100% - 35px) !important;
}

/*Bugs em dialog - LEGADO*/
.detailview table td {
    padding: 5px;
}
/*_____________________________Fim da Mega Transformação da dialog ______________________*/

.topRST {
    text-align: center;
    font-weight: bold;
}

.button {
    background: var(--color-success-base) !important;
}

.sucButton{
    background-color: var(--color-success-base) !important;
}

.checkzone {
    padding-top: 5%;
    margin-right: 30px;
}

    .checkzone .ulIcon-CheckCircle {
        font-size: 55px;
        margin: 45%;
        color: var(--color-success-base);
    }

.scrollGoalRST {
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}