@charset "UTF-8";
:root {
  --main-color: var(--color-primary-base);
  --main-color-dark: var(--color-primary-dark);
  --main-color-light: #6e88e0;
  --sec-color: var(--color-primary-alpha);
  --success-color: var(--color-success-base);
  /* TAMANHO DE FONTE */
  /*
  Com base em um tamanho de 16 px (que preferencialmente não deve ser setado no CSS para aproveitar o tamanho padrão do navegador),
  os tamanhos que seriam aplicados estão comentados. 
  Caso haja necessidade de apontar um tamanho de fonte no body, aponte 16px para que as variáveis funcionem conforme abaixo
  */
  /* TEXT */
  --font-size-base: 1rem;
  /* 16px */
  --font-size-micro: 0.75rem;
  /* 12px */
  --font-size-small: 0.875rem;
  /* 14px */
  /* HIGHLIGHT */
  --font-size-medium: 1,25rem;
  /* 20px */
  --font-size-large: 1,5rem;
  /* 24px */
  --font-size-extra: 1,75rem;
  /* 28px */
  --font-size-bigger: 2rem;
  /* 32px */
  /* DISPLAY */
  --font-size-huge: 3rem;
  /* 48px */
  --font-size-giant: 4rem;
  /* 64px */
  --font-size-jumbo: 5rem;
  /* 80px */
  /* ESPAÇAMENTO */
  --spacing-micro: 4px;
  --spacing-small: 8px;
  --spacing-default: 12px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-extra: 32px;
  --spacing-bigger: 40px;
  --spacing-huge: 48px;
  --spacing-giant: 56px;
  --spacing-jumbo: 64px;
  --color-brand-base: rgba(82,26,90,1);
  --color-brand-light: rgba(118,37,130,1);
  --color-primary-base: rgba(47,84,211,1);
  --color-primary-dark: rgba(39,72,185,1);
  --color-secondary-base: rgba(255,255,255,1);
  --color-disabled-base: rgba(153,153,153,1);
  --color-success-base: rgba(1,122,116,1);
  --color-success-dark: rgba(4,73,70,1);
  --color-warning-base: rgba(246,203,92,1);
  --color-warning-dark: rgba(159,117,9,1);
  --color-critical-base: rgba(201,63,88,1);
  --color-critical-dark: rgba(166,47,68,1);
  --color-background-base: #e9ebee;
  --color-primary-alpha: rgba(47,84,211,0.15);
  --color-critical-alpha: rgba(201,63,88,0.15);
  --color-secondary-alpha: rgba(255,255,255,0.15);
  --color-success-alpha: rgba(1,122,116,0.15);
  --color-warning-alpha: rgba(246,203,92,0.15);
  --color-info-alpha: rgba(118,37,130,0.15);
  --color-text-dark: rgba(0,0,0,0.7);
  --color-text-light: rgba(255,255,255,1);
  --color-text-placeholder: rgba(0,0,0,0.5);
  --color-text-link: rgba(47,84,211,1);
  --color-dark-base: rgba(0,0,0,1);
  --color-alpha-90: rgba(0,0,0,0.9);
  --color-alpha-80: rgba(0,0,0,0.8);
  --color-alpha-70: rgba(0,0,0,0.7);
  --color-alpha-60: rgba(0,0,0,0.6);
  --color-alpha-50: rgba(0,0,0,0.5);
  --color-alpha-40: rgba(0,0,0,0.4);
  --color-alpha-30: rgba(0,0,0,0.3);
  --color-alpha-20: rgba(0,0,0,0.2);
  --color-alpha-10: rgba(0,0,0,0.1);
  --color-alpha-05: rgba(0,0,0,0.05);
  --color-light-base: #fff;
  --color-shadow-focus:rgba(47,84,211,0.15);
  --color-shadow-critical: rgba(201,63,88,0.15);
  --color-shadow-base: rgba(0,0,0,0.25);
}

@font-face {
  font-family: "Ulife-icons-font";
  src: url("fonts/Ulife-icons-font.ttf?mx1ak5") format("truetype"), url("fonts/Ulife-icons-font.woff?mx1ak5") format("woff"), url("fonts/Ulife-icons-font.svg?mx1ak5#Ulife-icons-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.ulIcon, .classMainCont .classTopBar .userNameTop .ilNotIcon {
  /* O tamanho original do ícone é de 24px */
  font-family: "Ulife-icons-font" !important;
  speak: never;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  font-size: 20px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ulIcon.icon-size-default, .classMainCont .classTopBar .userNameTop .icon-size-default.ilNotIcon {
  font-size: 20px;
}
.ulIcon.icon-small, .classMainCont .classTopBar .userNameTop .icon-small.ilNotIcon {
  font-size: 12px;
}
.ulIcon.icon-medium, .classMainCont .classTopBar .userNameTop .icon-medium.ilNotIcon {
  font-size: 16px;
}
.ulIcon.icon-large, .classMainCont .classTopBar .userNameTop .icon-large.ilNotIcon {
  font-size: 24px;
}

/*

Utilize a classe acima no elemento e uma das classes abaixo para aplicar o ícone desejado.
Exemplo de uso no HTML

Tamanho padrão
<span class="ulIcon ulIcon-Academic"></span>

Tamanho pequeno
<span class="ulIcon ulIcon-AttentionCircle icon-small"></span>

*/
.ulIcon-Check:before, .classUnitList li a.classItenDone .ulIcon:before, .classUnitList li a.classItenDone .classMainCont .classTopBar .userNameTop .ilNotIcon:before, .classMainCont .classTopBar .userNameTop .classUnitList li a.classItenDone .ilNotIcon:before {
  content: "\e900";
}

.ulIcon-Forbidden:before {
  content: "\e901";
}

.ulIcon-Close:before {
  content: "\e902";
}

.ulIcon-Attention:before {
  content: "\e903";
}

.ulIcon-Next:before {
  content: "\e904";
}

.ulIcon-Previous:before {
  content: "\e905";
}

.ulIcon-Academic:before {
  content: "\e906";
}

.ulIcon-Add:before {
  content: "\e907";
}

.ulIcon-Anonymous:before {
  content: "\e908";
}

.ulIcon-Teacher:before {
  content: "\e909";
}

.ulIcon-Atividades-Complementares-Desconto:before {
  content: "\e90a";
}

.ulIcon-Atividades-Complementares:before {
  content: "\e90b";
}

.ulIcon-Attachment:before {
  content: "\e90c";
}

.ulIcon-AttentionCircle:before {
  content: "\e90d";
}

.ulIcon-Back:before {
  content: "\e90e";
}

.ulIcon-Bell:before, .classMainCont .classTopBar .userNameTop .ilNotIcon:before {
  content: "\e90f";
}

.ulIcon-Book:before {
  content: "\e910";
}

.ulIcon-Bookmark:before {
  content: "\e911";
}

.ulIcon-Calendar:before {
  content: "\e912";
}

.ulIcon-Career:before {
  content: "\e913";
}

.ulIcon-Change:before {
  content: "\e914";
}

.ulIcon-Chart:before {
  content: "\e915";
}

.ulIcon-CheckCircle:before, .classUnitList li.cItemPageTopic .classItenDone .ulIcon:before, .classUnitList li.cItemPageTopic .classItenDone .classMainCont .classTopBar .userNameTop .ilNotIcon:before, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageTopic .classItenDone .ilNotIcon:before {
  content: "\e916";
}

.ulIcon-Class:before {
  content: "\e917";
}

.ulIcon-Clock:before {
  content: "\e918";
}

.ulIcon-CloseCircle:before {
  content: "\e919";
}

.ulIcon-Comment:before {
  content: "\e91a";
}

.ulIcon-Config:before {
  content: "\e91b";
}

.ulIcon-Copy:before {
  content: "\e91c";
}

.ulIcon-Danger:before {
  content: "\e91d";
}

.ulIcon-Dialogue:before {
  content: "\e91e";
}

.ulIcon-Down:before {
  content: "\e91f";
}

.ulIcon-Download:before {
  content: "\e920";
}

.ulIcon-DownOpen:before {
  content: "\e921";
}

.ulIcon-DragDrop:before {
  content: "\e922";
}

.ulIcon-Edit:before {
  content: "\e923";
}

.ulIcon-EssayActivities:before {
  content: "\e924";
}

.ulIcon-Expand:before {
  content: "\e925";
}

.ulIcon-Favorite:before {
  content: "\e926";
}

.ulIcon-FavoriteActive:before {
  content: "\e927";
}

.ulIcon-Filter:before {
  content: "\e928";
}

.ulIcon-Form:before {
  content: "\e929";
}

.ulIcon-Forum:before {
  content: "\e92a";
}

.ulIcon-Grade:before {
  content: "\e92b";
}

.ulIcon-Group:before {
  content: "\e92c";
}

.ulIcon-Heart-no:before {
  content: "\e92d";
}

.ulIcon-HeartActive:before {
  content: "\e92e";
}

.ulIcon-Help:before {
  content: "\e92f";
}

.ulIcon-Home:before {
  content: "\e930";
}

.ulIcon-HTML-Interativo:before {
  content: "\e931";
}

.ulIcon-Lab-Atividade-Externa:before {
  content: "\e931";
}

.ulIcon-iconMiniPlayer:before {
  content: "\e932";
}

.ulIcon-Image:before {
  content: "\e933";
}

.ulIcon-Indent:before {
  content: "\e934";
}

.ulIcon-Laptop:before {
  content: "\e935";
}

.ulIcon-Left:before {
  content: "\e936";
}

.ulIcon-LeftOpen:before {
  content: "\e937";
}

.ulIcon-Link:before {
  content: "\e938";
}

.ulIcon-List:before {
  content: "\e939";
}

.ulIcon-Login:before {
  content: "\e93a";
}

.ulIcon-Mail:before {
  content: "\e93b";
}

.ulIcon-Matrix:before {
  content: "\e93c";
}

.ulIcon-Members:before {
  content: "\e93d";
}

.ulIcon-Menu:before {
  content: "\e93e";
}

.ulIcon-Money:before {
  content: "\e93f";
}

.ulIcon-More:before {
  content: "\e940";
}

.ulIcon-Newspaper:before {
  content: "\e941";
}

.ulIcon-PadlokBlocked:before {
  content: "\e942";
}

.ulIcon-PadlokOpen:before {
  content: "\e943";
}

.ulIcon-Page:before {
  content: "\e944";
}

.ulIcon-Paper:before {
  content: "\e945";
}

.ulIcon-Photo:before {
  content: "\e946";
}

.ulIcon-Pin:before {
  content: "\e947";
}

.ulIcon-Planet:before {
  content: "\e948";
}

.ulIcon-Play:before {
  content: "\e949";
}

.ulIcon-Print:before {
  content: "\e94a";
}

.ulIcon-Prova-Online:before {
  content: "\e94b";
}

.ulIcon-Prova-Presencial:before {
  content: "\e94c";
}

.ulIcon-QuestionsObjectives:before {
  content: "\e94d";
}

.ulIcon-QuestionsOpen:before {
  content: "\e94e";
}

.ulIcon-Refresh:before {
  content: "\e94f";
}

.ulIcon-Right:before {
  content: "\e950";
}

.ulIcon-RightOpen:before {
  content: "\e951";
}

.ulIcon-Save:before {
  content: "\e952";
}

.ulIcon-Search:before {
  content: "\e953";
}

.ulIcon-Share:before {
  content: "\e954";
}

.ulIcon-Skip:before {
  content: "\e955";
}

.ulIcon-SmileySad:before {
  content: "\e956";
}

.ulIcon-Smiling:before {
  content: "\e957";
}

.ulIcon-Tap:before {
  content: "\e958";
}

.ulIcon-ThumbDown:before {
  content: "\e959";
}

.ulIcon-ThumbsDownActive:before {
  content: "\e95a";
}

.ulIcon-ThumbsUpActive:before {
  content: "\e95b";
}

.ulIcon-ThumbUp:before {
  content: "\e95c";
}

.ulIcon-Trash:before {
  content: "\e95d";
}

.ulIcon-Up:before {
  content: "\e95e";
}

.ulIcon-Upload:before {
  content: "\e95f";
}

.ulIcon-UpOpen:before {
  content: "\e960";
}

.ulIcon-User:before {
  content: "\e961";
}

.ulIcon-VideoConf:before {
  content: "\e962";
}

.ulIcon-View:before {
  content: "\e963";
}

.ulIcon-VirtualMeeting:before {
  content: "\e964";
}

.ulIcon-Wait:before {
  content: "\e965";
}

.ulIcon-Wifi:before {
  content: "\e966";
}

.ulIcon-Zoom:before {
  content: "\e967";
}

.ulIcon-ZoomOut:before {
  content: "\e968";
}

.ulIcon-questionAnswered:before {
  content: "\e969";
}

.ulIcon-Emoji-1-Angry:before {
  content: "\e96a";
}

.ulIcon-Emoji-2-Sad:before {
  content: "\e96b";
}

.ulIcon-Emoji-3-Neutral:before {
  content: "\e96c";
}

.ulIcon-Emoji-4-Glasses:before {
  content: "\e96d";
}

.ulIcon-Emoji-5-Star:before {
  content: "\e96e";
}

.ulIcon-Acessibility:before {
  content: "\e96f";
}

:root {
  --text-micro: 0.75rem;
  --text-small: 0.875rem;
  --text-default: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  letter-spacing: 0.3px;
  box-sizing: border-box;
}

body,
html {
  color: var(--color-text-dark);
  font-size: unset;
  line-height: 1.5;
}

.classMasterBody {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  color: var(--color-text-dark);
  background: var(--color-background-base);
  flex-shrink: 0;
  flex-grow: 0;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.classMasterBody .classLinkIcon {
  text-decoration: none;
  background: none;
  color: var(--color-primary-base);
  line-height: 40px;
}
.classMasterBody .classLinkIcon:hover .linkText {
  text-decoration: underline;
}
.classMasterBody .classLinkIcon .ulIcon, .classMasterBody .classLinkIcon .classMainCont .classTopBar .userNameTop .ilNotIcon, .classMainCont .classTopBar .userNameTop .classMasterBody .classLinkIcon .ilNotIcon {
  margin-right: var(--spacing-micro);
  display: inline-block;
  margin-top: -2px;
}
.classMasterBody ::-webkit-scrollbar {
  width: 8px;
}
.classMasterBody ::-webkit-scrollbar-button {
  display: none;
}
.classMasterBody ::-webkit-scrollbar-track {
  background: transparent;
}
.classMasterBody ::-webkit-scrollbar-thumb {
  background: var(--color-alpha-20);
  border-radius: 10px;
  transition: all 0.15s ease-out 0s;
}
.classMasterBody ::-webkit-scrollbar-thumb:hover {
  background: var(--color-alpha-40);
}

.classSideMenu {
  background: var(--color-background-base);
  width: 328px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 12;
  display: flex;
  flex-direction: column;
  box-shadow: inset -10px 0px 15px -15px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease-out 0s;
}
.classSideMenu > a,
.classSideMenu > h1 {
  padding: 0 var(--spacing-large);
}
.classSideMenu:not(.open) {
  margin-left: -328px;
}
.classSideMenu .toggleMenuButton {
  color: var(--color-text-dark);
  position: absolute;
  left: 100%;
  top: 0;
  background: transparent;
  height: 56px;
  padding: 0 var(--spacing-large);
  line-height: 56px;
  width: 160px;
  white-space: nowrap;
  text-align: left;
  z-index: 3;
}
@media (hover: none) {
  .classSideMenu .toggleMenuButton {
    width: 66px;
    min-width: 0;
  }
}
.classSideMenu .toggleMenuButton .ulIcon, .classSideMenu .toggleMenuButton .classMainCont .classTopBar .userNameTop .ilNotIcon, .classMainCont .classTopBar .userNameTop .classSideMenu .toggleMenuButton .ilNotIcon,
.classSideMenu .toggleMenuButton .buttonOpenText {
  transition: all 0.15s ease-out 0s;
}
.classSideMenu .toggleMenuButton .ulIcon-RightOpen,
.classSideMenu .toggleMenuButton .ulIcon-LeftOpen,
.classSideMenu .toggleMenuButton .btTextShow,
.classSideMenu .toggleMenuButton .btTextHide {
  opacity: 0;
}
@media (hover: none) {
  .classSideMenu .toggleMenuButton .ulIcon-RightOpen,
.classSideMenu .toggleMenuButton .ulIcon-LeftOpen,
.classSideMenu .toggleMenuButton .btTextShow,
.classSideMenu .toggleMenuButton .btTextHide {
    display: none;
  }
}
@media (hover: hover) and (min-width: 789px) {
  .classSideMenu .toggleMenuButton:not(.closed) .btTextShow,
.classSideMenu .toggleMenuButton:not(.closed) .ulIcon-RightOpen {
    display: none;
  }
  .classSideMenu .toggleMenuButton:not(.closed) .ulIcon-LeftOpen {
    margin-left: -16px;
  }
  .classSideMenu .toggleMenuButton:not(.closed):hover .ulIcon-Menu {
    opacity: 0;
    margin-right: -32px;
  }
  .classSideMenu .toggleMenuButton:not(.closed):hover .btTextHide,
.classSideMenu .toggleMenuButton:not(.closed):hover .ulIcon-LeftOpen {
    opacity: 1;
  }
  .classSideMenu .toggleMenuButton:not(.closed):hover .ulIcon-LeftOpen {
    margin-left: 0;
  }
  .classSideMenu .toggleMenuButton.closed .btTextHide,
.classSideMenu .toggleMenuButton.closed .ulIcon-LeftOpen {
    display: none;
  }
  .classSideMenu .toggleMenuButton.closed .ulIcon-RightOpen {
    margin-left: -44px;
  }
  .classSideMenu .toggleMenuButton.closed:hover .ulIcon-Menu {
    opacity: 0;
    margin-right: -32px;
  }
  .classSideMenu .toggleMenuButton.closed:hover .btTextShow,
.classSideMenu .toggleMenuButton.closed:hover .ulIcon-RightOpen {
    opacity: 1;
  }
  .classSideMenu .toggleMenuButton.closed:hover .ulIcon-RightOpen {
    margin-left: 0;
  }
}
@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
  .classSideMenu {
    width: calc(100vw - 66px);
  }
  .classSideMenu:not(.open) {
    margin-left: calc(-100vw + 66px);
  }
}
.classSideMenu .linkBackToUC {
  font-size: var(--text-small);
  line-height: 150%;
  padding: var(--spacing-large) var(--spacing-large) var(--spacing-medium) var(--spacing-large);
}
.classSideMenu .classTitle {
  font-weight: bold;
  font-size: var(--text-default);
  margin-bottom: var(--spacing-medium);
}
.classSideMenu .cProgressBarCont {
  width: calc(100% - var(--spacing-huge));
  margin-left: var(--spacing-large);
  margin-bottom: var(--spacing-medium);
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.classSideMenu .TratmeProgessBarCont {
    width: calc(100% - var(--spacing-huge));
    margin-left: var(--spacing-large);
    margin-bottom: var(--spacing-medium);
    height: 8px;
    background: #ffff;
    border-radius: 5px;
}

.classSideMenu .cBar-Tratme {
    height: 12px;
    border-radius: 8px;
    background: #4E61AB;
    position: relative;
    bottom: 2px;
}
.classSideMenu .cProgressBarCont .cBar {
    height: 5px;
    border-radius: 5px;
    background: var(--color-success-base);
}
.classSideMenu .cClasses {
  list-style: none;
  overflow-y: auto;
}
.classSideMenu .cClasses > li {
  min-height: 72px;
  display: flex;
  flex-direction: column;
  cursor: default;
  border-bottom: 1px solid var(--color-alpha-10);
}
.classSideMenu .cClasses .toggleClassUnitButton {
  min-height: 76px;
  font-size: unset;
  font-weight: bold;
  line-height: 1.3;
  color: var(--color-text-dark);
  padding: var(--spacing-small) var(--spacing-large);
  background: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 4;
  cursor: pointer;
  text-align: left;
}
.classSideMenu .cClasses .toggleClassUnitButton .ulIcon-DownOpen {
  display: none;
}
.classSideMenu .cClasses .toggleClassUnitButton.closed .ulIcon-DownOpen {
  display: inline-block;
}
.classSideMenu .cClasses .toggleClassUnitButton.closed .ulIcon-UpOpen {
  display: none;
}

.classUnitList {
  list-style: none;
  transition: all 0.15s ease-out 0s;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}
.classUnitList .cItemTittle {
  line-height: 150%;
  background: var(--color-alpha-05) !important;
  border-radius: 28px;
  font-size: var(--text-small);
  font-weight: bold;
  color: var(--color-text-placeholder) !important;
  padding: 0 var(--spacing-medium);
  width: calc(100% - var(--spacing-large));
  margin-left: 9px;
}
.classUnitList li {
  transition: all 0.15s ease-out 0s;
  max-height: 0;
  min-height: 0;
}
.classUnitList.open {
  overflow: visible;
  visibility: visible;
  opacity: 1;
}
.classUnitList.open li {
  max-height: 100%;
  min-height: 56px;
}
.classUnitList.open li.cItemTittle {
  min-height: 28px;
  justify-content: center;
  margin-top: var(--spacing-default);
  margin-bottom: var(--spacing-default);
}
.classUnitList.open li.cItemTittle:first-of-type {
  margin-top: 0;
}
.classUnitList li {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}
.classUnitList li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-self: stretch;
  flex-grow: 10;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
  margin-bottom: var(--spacing-default);
  overflow: hidden;
}
.classUnitList li a:hover, .classUnitList li a:focus {
  color: var(--color-primary-base);
  background: var(--color-primary-alpha);
}
.classUnitList li a .ulIcon, .classUnitList li a .classMainCont .classTopBar .userNameTop .ilNotIcon, .classMainCont .classTopBar .userNameTop .classUnitList li a .ilNotIcon {
  margin-top: -2px;
  margin-right: var(--spacing-small);
}
.classUnitList li a.active {
  background: white;
  box-shadow: inset -10px 0px 15px -15px rgba(0, 0, 0, 0.5);
  color: var(--color-primary-base);
}
.classUnitList li a.active *:not(.ulIcon) {
  font-weight: bold;
}
.classUnitList li a.classItenDone {
  color: var(--color-text-placeholder);
}
.classUnitList li a.classItenDone .ulIcon:before, .classUnitList li a.classItenDone .classMainCont .classTopBar .userNameTop .ilNotIcon:before, .classMainCont .classTopBar .userNameTop .classUnitList li a.classItenDone .ilNotIcon:before {
  color: var(--color-success-base);
}
.classUnitList li.cItemPageWithTopics .ulIcon, .classUnitList li.cItemPageWithTopics .classMainCont .classTopBar .userNameTop .ilNotIcon, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageWithTopics .ilNotIcon, .classUnitList li.cItemPageTopic .ulIcon, .classUnitList li.cItemPageTopic .classMainCont .classTopBar .userNameTop .ilNotIcon, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageTopic .ilNotIcon {
  position: relative;
  overflow: visible;
  mix-blend-mode: darken;
}
.classUnitList li.cItemPageWithTopics .ulIcon:before, .classUnitList li.cItemPageWithTopics .classMainCont .classTopBar .userNameTop .ilNotIcon:before, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageWithTopics .ilNotIcon:before, .classUnitList li.cItemPageTopic .ulIcon:before, .classUnitList li.cItemPageTopic .classMainCont .classTopBar .userNameTop .ilNotIcon:before, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageTopic .ilNotIcon:before {
  background: #e9ebee;
  position: relative;
  z-index: 1;
}
.classUnitList li.cItemPageWithTopics .ulIcon:after, .classUnitList li.cItemPageWithTopics .classMainCont .classTopBar .userNameTop .ilNotIcon:after, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageWithTopics .ilNotIcon:after, .classUnitList li.cItemPageTopic .ulIcon:after, .classUnitList li.cItemPageTopic .classMainCont .classTopBar .userNameTop .ilNotIcon:after, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageTopic .ilNotIcon:after {
  content: "";
  height: 100%;
  width: 2px;
  background: var(--color-text-placeholder);
  position: absolute;
  left: calc(50% - 1px);
  top: 100%;
}
.classUnitList li.cItemPageTopic {
  position: relative;
}
.classUnitList li.cItemPageTopic a:not(.classItenDone):after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 14px;
  display: block;
  background-color: #e9ebee;
  position: absolute;
  z-index: 1;
  top: calc(50% - 6px);
  left: 30px;
}
.classUnitList li.cItemPageTopic .ulIcon, .classUnitList li.cItemPageTopic .classMainCont .classTopBar .userNameTop .ilNotIcon, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageTopic .ilNotIcon {
  overflow: visible;
  font-size: 20px;
  padding: 0 2px;
}
.classUnitList li.cItemPageTopic .ulIcon:after, .classUnitList li.cItemPageTopic .classMainCont .classTopBar .userNameTop .ilNotIcon:after, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageTopic .ilNotIcon:after {
  height: 300%;
  top: -100%;
}
.classUnitList li.cItemPageTopic.lastTopic .ulIcon:after, .classUnitList li.cItemPageTopic.lastTopic .classMainCont .classTopBar .userNameTop .ilNotIcon:after, .classMainCont .classTopBar .userNameTop .classUnitList li.cItemPageTopic.lastTopic .ilNotIcon:after {
  top: unset;
  bottom: 100%;
}
.classMainCont {
  flex-basis: 100%;
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.classMainCont .classTopBar {
  background: white;
  height: 56px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
  position: relative;
  z-index: 11;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  padding-right: var(--spacing-large);
}
.classMainCont .classTopBar .classLinkIcon {
  padding-left: var(--spacing-default);
  padding-right: var(--spacing-default);
  line-height: 50px;
  font-size: var(--text-small);
  position: relative;
  z-index: 6;
}
.classMainCont .classTopBar .userNameTop {
  position: static;
  margin: 0 0 0 var(--spacing-large);
  padding: 0 0 0 var(--spacing-default);
  border-left: 1px solid var(--color-alpha-20);
  display: flex;
  align-items: center;
}
.classMainCont .classTopBar .userNameTop .ilNot {
  height: 36px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
.classMainCont .classTopBar .userNameTop .ilNotIcon {
  margin: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  background: none;
  text-decoration: none;
  border: solid white;
  border-width: 15px 5px;
}
.classMainCont .classTopBar .userNameTop .ilNotIcon em {
  background: var(--color-critical-base);
  float: left;
  color: white;
  border-radius: 20px;
  min-width: 20px;
  font-size: var(--text-micro);
  position: relative;
  left: 8px;
  top: -8px;
  border: none;
  text-align: center;
  line-height: 20px;
  font-weight: normal;
  padding: 0 4px;
}
.classMainCont .classTopBar .userNameTop .userNameSelect {
  height: 36px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}
.classMainCont .classTopBar .userNameTop .userNameSelect .pic {
  height: 32px;
  width: 32px;
  margin-right: -12px;
  border: 12px solid;
  border-color: white;
  box-sizing: content-box;
}
.classMainCont .classTopBar .userNameTop .ilNotCont {
  margin-top: 8px;
}
.classMainCont .classTopBar .ilNotCont:not(.open) {
  display: none;
  transition: all 0.15s ease-out 0s;
  top: 90%;
}
.classMainCont .classTopBar .ilNotCont.open {
  display: block;
  transition: all 0.15s ease-out 0s;
  top: 100%;
}
@media screen and (max-width: 1080px) {
  .classSideMenu.open + .classMainCont .linkText {
    display: none;
  }
}
@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
  .classMainCont .linkText {
    display: none;
  }
}
.classMainCont .classMain {
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: 100%;
  flex-grow: 10;
  flex-shrink: 10;
}
@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
  .classMainCont .classMain {
    min-width: 100vw;
  }
}
.classMainCont .classMain .iframeFullCont {
  border: none;
  width: 100% !important;
  height: 100% !important;
}
.classMainCont .classFooter {
  background: white;
  height: 42px;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  font-size: var(--text-small);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  transition: all 0.15s ease-out 0s;
  z-index:10;
}
.classMainCont .classFooter .footerContBar {
  height: 42px;
  max-height: 42px;
  display: flex;
  padding: 0 var(--spacing-medium);
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}
.classMainCont .classFooter .footerContBar .botLinks {
  margin-left: calc(var(--spacing-default) * -1);
}
.classMainCont .classFooter .footerContBar .linkText:first-child {
  display: inline-block;
}
.classMainCont .classFooter .toggleCommentsButton {
  background: none;
  color: var(--color-primary-base);
  position: relative;
  z-index: 12;
}
.classMainCont .classFooter .toggleCommentsButton .linkText:before {
  content: "Comentários";
}
.classMainCont .classFooter .toggleCommentsButton.active .linkText:before {
  content: "Ocultar comentários";
}
.classMainCont .classFooter div.ng-isolate-scope,
.classMainCont .classFooter .assignPost {
  display: contents;
}
.classMainCont .classFooter .feed {
  width: 100%;
  margin: 0;
  clear: both;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  max-height: 42px;
  top: 0;
  position: static;
  transition: all 0.15s ease-out 0s;
  z-index: unset;
}
.classMainCont .classFooter .feed .feedLine {
  background: none;
  margin-top: 13px;
  border-bottom: 1px solid var(--color-alpha-10);
}
.classMainCont .classFooter .feed .feedLine.emtFeedLine {
  position: static;
}
.classMainCont .classFooter .feed .emotionContainer {
  width: 260px;
  left: calc(50% - 130px);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px;
  overflow: visible;
}
@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
  .classMainCont .classFooter .feed .emotionContainer {
    left: 16px;
    width: 175px;
  }
}
.classMainCont .classFooter .feed .emotionContainer .emtCont {
  padding-top: 5px;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
  .classMainCont .classFooter .feed .emotionContainer .emtCont {
    padding-bottom: 0;
    text-align: left;
  }
}
.classMainCont .classFooter .feed .emotionContainer .emtCont:after {
  background: white;
}
.classMainCont .classFooter .feed .emotionContainer .emtCont:hover {
  overflow: visible;
}
.classMainCont .classFooter .feed .emotionContainer .emtCont .emt {
  width: 30px !important;
  height: 30px !important;
}
.classMainCont .classFooter .feed .emotionContainer .emtCont .emt:before {
  background-color: white;
}
.classMainCont .classFooter .feed .emotionContainer .emtCont .emt:after {
  background-color: var(--color-primary-base);
}
.classMainCont .classFooter .feed .emotionContainer .emtCont .emtContResult {
  background-color: white;
}
.classMainCont .classFooter .feed .emotionContainer .emtCont .emtContResult a {
  color: var(--color-primary-base);
}
@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
  .classMainCont .classFooter .feed .emotionContainer .emtCont .linkDefault {
    display: none;
  }
}
.classMainCont .classFooter .feed:hover .emtCont {
  padding-bottom: 24px;
  padding-top: 8px;
}
@media screen and (max-width: 599px), screen and (max-device-width: 600px) {
  .classMainCont .classFooter .feed:hover .emtCont {
    padding-bottom: 0;
    padding-top: 5px;
  }
}
.classMainCont .classFooter .feed:hover .emtCont .linkDefault,
.classMainCont .classFooter .feed:hover .emtCont .emtContResult {
  font-size: var(--text-micro);
  padding-bottom: 6px;
  transition: opacity 0.2s linear;
  opacity: 1;
  color: var(--color-text-dark) !important;
  text-decoration: none;
  cursor: default;
}
.classMainCont .classFooter .feed:hover .emtCont .emt:hover {
  width: 35px;
  height: 35px;
}
.classMainCont .classFooter.open {
  flex-grow: 10;
  height: auto;
  max-height: 50vh;
}
.classMainCont .classFooter.open .feed {
  max-height: calc(50vh - 42px);
  overflow-y: auto;
  display: block;
}

/* - - - - - - - - - - - - - - - - - - - - - - LOADING TELA CHEIA Player Aluno - - - - - - - - - - - - - - - - - - - - - - */
.bgLarge {
  background-size: auto 200px !important;
}

.bgFull * {
  margin: 0;
  padding: 0;
}

.bgFullLoading {
  display: table;
  margin: 0 auto;
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

.bgLoadingCenter {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.bgLoadingCenter.pRel {
  position: relative;
}

.actCard {
  padding-top: 0px;
}

.noResult {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.hidePage {
  display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - Avisos Icone grande Player Aluno - - - - - - - - - - - - - - - - - - - - - - */
.centerContentFlex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center !important;
}

.bigCentralPageContent {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100% !important;
  width: 100% !important;
}

.bigCentralPageContent span {
  font-size: 100px;
  color: var(--color-text-placeholder);
}

.bigCentralPageContent p {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-base);
  line-height: 24px;
  text-align: center;
  margin-top: 27px;
  color: var(--color-text-placeholder);
}

/*# sourceMappingURL=std-class-masterpage.css.map */
